main {
    font-family: sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

header {
    margin-bottom: 20px;
}

/*Form layout*/
.ad-heading-color {
    text-align: center;
}
#form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .form__inputs-wrapper {
    display: flex;
    gap: 40px;
}

form .left-right-wrapper {
    display: flex;
    gap: 40px;
}

form .left-side .label-wrapper:not(:last-child),
form .right-side .label-wrapper:not(:last-child) {
    margin-bottom: 20px;
}

form .upper-part .label-wrapper:not(:last-child) {
    margin-bottom: 9px;
}

form .upper-part {
    display: flex;
    flex-direction: column;
}

form .lower-part {
    display: flex;
    flex-direction: column;
}

form .label-wrapper {
    display: flex;
    flex-direction: column;
}

form input {
    border: 1px solid #e7e8eb;
}

form select {
    border: 1px solid #e7e8eb;
}

.layout10 {
    width: 100%;
}

form .label-wrapper.layout10 .search-form-btn {
    width: 100%;
    background-color: #1c2437;
    color: #FFFFFF;
    border: 1px solid #1c2437;;
}

/*.search-form-btn {*/
/*    color: #1c2437;;*/
/*}*/
/*Cards layout*/
.hero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    width: 100%;
    max-width: 310px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 10px 25px -9px rgba(0, 0, 0, 0.75);
}

.card .img-wrapper {
    position: relative;
    height: 200px;
}

.card .img-wrapper .price {
    position: absolute;
    background: black;
    color: white;
    bottom: 0;
    right: 0px;
    padding: 4px 15px 4px 15px;
}

.card .img-wrapper .price span {
    font-size: 10px;
}

.card .body {
    padding: 20px;
}

/*.card .body .body__title {*/
/*    margin-bottom: 0px;*/
/*}*/
.card .body h4 {
    margin-bottom: 10px;
}

.card .body .body__items {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
}

.card .body .item {
    color: gray;
}

.card .body .item {
    font-size: 15px;
}

.card .body .item i {
    margin-right: 7px;
}

.card .body .body__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .body .body__bottom-wrapper a {
    text-decoration: none;
    color: #336efd;
    font-size: 14px;
    cursor: pointer;
}

.pagination-background {
    text-align: center;
}

.edit__container {
    display: flex;
    justify-content: space-between;
}

.edit__container a {
    text-decoration: none;
    color: #336efd;
}

/*.card .body .body__bottom-wrapper a:first-child {*/

/*  background-color:#FFFFFF;*/
/*  color: #336efd;*/
/*  padding: 3px 15px;*/
/*  border-radius: 20px;*/
/*  font-size: 13px;*/
/*  transition: all 300ms ease-in-out;*/
/*}*/

/*.card .body .body__bottom-wrapper a:first-child:hover {*/
/*  background-color:#336efd ;*/
/*  color: #FFFFFF;*/
/*  padding: 3px 15px;*/
/*  font-size: 13px;*/
/*}*/
@media screen and (max-width: 900px) {
    .hero {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20px;
        padding-right: 20px;
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        grid-template-columns: repeat(2, 250px);
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
        /*gap: 60px;*/
    }
    .left-right-wrapper select {
        padding: 5px;
    }
    form .upper-part input {
        padding: 4px;
    }
    form {
        width: 66%;
    }
    form .inner-form {
        width: 100%;
    }
    form .form__inputs-wrapper {
        flex-direction: column;
        width: 100%;
    }
    .left-side {
        width: 50%;
    }
    .right-side {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .hero {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 15px;
        padding-right: 15px;
        gap: 20px;
    }

    form {
        width: 100%;
    }

    form .form__inputs-wrapper {
        flex-direction: column;
        gap: 15px;
        width: 80%;
    }

    .upper-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    form .left-right-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    form input {
        padding: 10px;
    }

    form select {
        padding: 11px;
    }

    form .label-wrapper {
        width: 80%;
    }
    form .label-wrapper.layout10 .search-form-btn {
        width: 80%;
        margin: 0 auto;
    }
}


