main {
    font-family: sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

header {
    margin-bottom: 20px;
}

/*Form layout*/
.ad-heading-color {
    text-align: center;
}

#form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .form__inputs-wrapper {
    display: flex;
    gap: 40px;
}

form .left-right-wrapper {
    display: flex;
    gap: 40px;
}

form .left-side .label-wrapper:not(:last-child),
form .right-side .label-wrapper:not(:last-child) {
    margin-bottom: 20px;
}

form .label-wrapper.layout1 {
    margin-bottom: 15px !important;
}

form .label-wrapper.layout2 {
    margin-bottom: 42px !important;
}

form .label-wrapper.layout2 i {
    cursor: pointer;
}

form .label-wrapper.layout3 i {
    cursor: pointer;
}

form .label-wrapper.layout3 .ad-labels-custom {
    margin-bottom: 10px;
}

form .upper-part .label-wrapper:not(:last-child) {
    margin-bottom: 9px;
}

form .upper-part {
    display: flex;
    flex-direction: column;
}

form .lower-part {
    display: flex;
    flex-direction: column;
}

form .label-wrapper {
    display: flex;
    flex-direction: column;
}

form input {
    border: 1px solid #e7e8eb;
}

form select {
    border: 1px solid #e7e8eb;
}

.layout10 {
    width: 100%;
}

.label-wrapper.layout2 {
    position: relative;
}

.label-wrapper.layout3 {
    position: relative;
}

.show-sliders {
    scale: 1;
!important;
    visibility: unset;
!important;
    position: unset;
!important;
}


form .label-wrapper.layout10 .search-form-btn {
    width: 100%;
    background-color: #1c2437;
    color: #FFFFFF;
    border: 1px solid #1c2437;;
}

/*.search-form-btn {*/
/*    color: #1c2437;;*/
/*}*/
/*Cards layout*/
.hero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    width: 100%;
    max-width: 310px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 10px 25px -9px rgba(0, 0, 0, 0.75);
}

.card .img-wrapper {
    position: relative;
    height: 200px;
}

.card .img-wrapper .price {
    position: absolute;
    background: black;
    color: white;
    bottom: 0;
    right: 0px;
    padding: 4px 15px 4px 15px;
}

.card .img-wrapper .price span {
    font-size: 10px;
}

.card .body {
    padding: 20px;
}

/*.card .body .body__title {*/
/*    margin-bottom: 0px;*/
/*}*/
.card .body h4 {
    margin-bottom: 10px;
}

.card .body .body__items {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
}

.card .body .item {
    color: gray;
}

.card .body .item {
    font-size: 15px;
}

.card .body .item i {
    margin-right: 7px;
}

.card .body .body__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .body .body__bottom-wrapper a {
    text-decoration: none;
    color: #336efd;
    font-size: 14px;
    cursor: pointer;
}

.pagination-background {
    text-align: center;
}

.edit__container {
    display: flex;
    justify-content: space-between;
}

.edit__container a {
    text-decoration: none;
    color: #336efd;
}

/*//range test*/
.range-activate {
    transition: 0.4s;
    margin-top: 10px !important;
    scale: 1 !important;
    visibility: visible !important;
    position: unset !important;
}

.range {
    scale: 0.1;
    position: absolute;
    visibility: hidden;
    transition: 0.4s;

}

.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}

.range-selected {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background-color: #1b53c0;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}

.range-price {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.range-desc span {
    font-weight: bold;
}

.range-price label {
    margin-right: 5px;
}

.range-price input {
    width: 68px;
    padding: 5px;
}

/*.range-price input:first-of-type {*/
/*    !*margin-right: 15px;*!*/
/*    width: 68px;*/
/*}*/

@media screen and (max-width: 900px) {
    .hero {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20px;
        padding-right: 20px;
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        grid-template-columns: repeat(2, 250px);
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
        /*gap: 60px;*/
    }

    .left-right-wrapper select {
        padding: 5px;
    }

    form .upper-part input {
        padding: 4px;
    }

    form {
        width: 66%;
    }

    form .inner-form {
        width: 100%;
    }

    form .form__inputs-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .left-side {
        width: 50%;
    }

    .right-side {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .hero {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 15px;
        padding-right: 15px;
        gap: 20px;
    }

    form {
        width: 100%;
    }

    form .form__inputs-wrapper {
        flex-direction: column;
        gap: 15px;
        width: 80%;
    }

    .upper-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    form .left-right-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    form input {
        padding: 10px;
    }

    form select {
        padding: 11px;
    }

    form .label-wrapper {
        width: 80%;
    }

    form .label-wrapper.layout10 .search-form-btn {
        width: 80%;
        margin: 0 auto;
    }
}


