{% extends 'main/base.html' %}
{% load static %}
{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/profile-nav/profiles-data-form.css' %}">
{% endblock %}
{% block page_title %}
    <title>Create Profile</title>
{% endblock %}
{% block profile_nav %}
    {% include 'main/profile-control-nav-partial.html' %}
{% endblock %}
{% block page_content %}
    <form action="{% url 'create profile' %}" method="post">
        {% csrf_token %}
        <div class="img-wrapper">
            <input type="image" src="{{ profile.image.url }}" class="img-input">
        </div>
        <label for="first-name">Name</label>
        {{ form.first_name }}
        <label for="last-name">Surname</label>
        {{ form.last_name }}
        <label for="phone">Phone</label>
        {{ form.phone_number }}
        <label for="location">Age</label>
        {{ form.age }}
        <button class="hero__form-btn">Save Changes</button>
    </form>
    {% if form.errors %}
        <div class="error-message create-profile-errors">
            {% for error in form.errors.values %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
    <script src="{% static 'src/profiles/profiles.js' %}"></script>
{% endblock %}