{% extends 'main/base.html' %}
{% load static %}
{% block page_title %}
    <title>Edit Ad</title>
{% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/create-ad.css' %}">
{% endblock %}
{% block page_content %}
    <body onload="unsetModels()">
    <form method="post" action="{% url 'edit ad' object.pk %}" class="ad-create-form" enctype="multipart/form-data">
        <label for="title">Title:</label>
        {{ form.title }}
        <label for="price">Price:</label>
        {{ form.price }}
        <label for="phone_number">Year:</label>
        {{ form.year_of_manufacture }}
        <label for="make">Car Brand:</label>
        {{ form.car }}
        <label for="location">Car Model:</label>
        {{ form.model }}
        <label for="location">Transmission:</label>
        {{ form.transmission }}
        <label for="location">Body Type:</label>
        {{ form.body_type }}
        <label for="location">City:</label>
        {{ form.city }}
        <label for="location">Horsepower:</label>
        {{ form.horse_power }}
        <label for="location">Mileage:</label>
        {{ form.mileage }}
        <label for="location">Fuel:</label>
        {{ form.fuel }}
        <label class="ad-labels-custom">Description</label>
        {{ form.description }}
        {{ form_images.management_form }}
        <div class="images-wrapper">
            {% for photo in form_images %}
                <div>
                    <img src="{{ photo.instance.image.url }}" alt="" onclick="imageOnClick(event)">
                    <div hidden="hidden">{{ photo }}</div>
                </div>
            {% endfor %}
            {% csrf_token %}
        </div>
        <button class="hero__form-btn">Edit</button>
    </form>
    </body>
{% endblock %}