{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block page_styles %}
        <link rel="stylesheet" href="{% static 'css/profile-nav/profiles-data-form.css' %}">
    {% endblock %}
    {% block page_title %}
        <title>Edit Profile</title>
    {% endblock %}
</head>
<body>
{% block profile_nav %}
    {% include 'main/profile-control-nav-partial.html' %}
{% endblock %}
{% block page_content %}
    <form method='post' action='{% url 'Change password' %}'>
        {% csrf_token %}
        <p>{{ profile_pk }}</p>
        <div class="img-wrapper">
            <input type="image" src="{{ profile.image.url }}" class="img-input">
        </div>
        <label for="first-name">Name</label>
        {{ form.old_password }}
        <label for="last-name">Surname</label>
        {{ form.new_password1 }}
        <label for="phone">Phone</label>
        {{ form.new_password2 }}
        {% for error in form.errors.values %}
            {{ error }}
        {% endfor %}
        <button class="hero__form-btn">Save Changes</button>
    </form>
{% endblock %}
</body>
</html>