body {
  background-color: lightgray;
  font-family: 'Work Sans', sans-serif;

}
main {
  max-width: 1400px;
  margin: 0 auto;
}

img {
  width: 100%;
}
header {
  margin-bottom: 20px;
}
.hero {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.card {
  max-width: 310px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 10px 25px -9px rgba(0, 0, 0, 0.75);
}
.card .img-wrapper {
  position: relative;
}
.card .img-wrapper .price {
  position: absolute;
  background: black;
  color: white;
  bottom: 0;
  right: 0px;
  padding: 4px 15px 4px 15px;
}
.card .img-wrapper .price span {
  font-size: 10px;
}
.card .body {
  padding: 20px;
}
.card .body .body__title{
  margin-bottom: 9px;
}
.card .body .body__items {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 7px;
}
.card .body .item {
  color: gray;
}
.card .body .item {
  font-size: 15px;
}
.card .body .item i {
  margin-right: 7px;
}
.card .body .body__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .body .body__bottom-wrapper a {
  text-decoration: none;
  color: #336efd;
  font-size: 14px;
  cursor: pointer;
}

/*.card .body .body__bottom-wrapper a:first-child {*/

/*  background-color:#FFFFFF;*/
/*  color: #336efd;*/
/*  padding: 3px 15px;*/
/*  border-radius: 20px;*/
/*  font-size: 13px;*/
/*  transition: all 300ms ease-in-out;*/
/*}*/

/*.card .body .body__bottom-wrapper a:first-child:hover {*/
/*  background-color:#336efd ;*/
/*  color: #FFFFFF;*/
/*  padding: 3px 15px;*/
/*  font-size: 13px;*/
/*}*/
@media screen and (max-width: 1025px) {
  .hero {
    grid-template-columns: repeat(3,1fr);
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: repeat(2,300px);
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    gap: 60px;
  }
}
@media screen and (max-width: 500px) {
  .hero {
    grid-template-columns: repeat(1,1fr);
    padding-left: 15px;
    padding-right: 15px;
    gap: 20px;
  }
}

