/*@media only screen and (min-width: 400px) {*/
/*    body {*/
/*        background-image: url('../image/errors/404_error_page_person.png');*/
/*    }*/
/*}*/


.error-403-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../image/errors/403_second_page.jpeg') no-repeat center fixed;
    background-size: contain;
}

.html-403 {
    background: url('../image/errors/403_second_page.jpeg') no-repeat center fixed;
    background-size: cover;
}

.html-403-background {
    background: rgb(255, 255, 255);
    background: linear-gradient(138deg, rgba(255, 255, 255, 1) 0%, rgba(177, 177, 189, 1) 34%, rgba(162, 162, 160, 1) 70%);
    background-size: contain;
}

.error-403-body-customized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-404-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../image/errors/404_error_page_person.png') no-repeat center fixed;
    background-size: contain;
}

.html-404 {
    background: url('../image/errors/404_error_page_person.png') no-repeat center fixed;
    background-size: cover;
}

.error-home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 35%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 4px 6px 13px 1px rgba(2, 3, 4, 1);
}

.error-404-button {
    text-decoration: none;
}
.error-403-button {
    text-decoration: none;
    color: white;
}